---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/matthewrpacker?client_id=1e79ffc2e28f00d7e34a&client_secret=a9f6ad64adb7aa24363ab9f1d885ecc2afcb150e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4881'
      X-Ratelimit-Reset:
      - '1472752408'
      Etag:
      - W/"31ad861c8fb4a09dbb2fa899b2dd391f"
      Last-Modified:
      - Thu, 01 Sep 2016 02:45:57 GMT
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"login":"matthewrpacker","id":14930925,"avatar_url":"https://avatars.githubusercontent.com/u/14930925?v=3","gravatar_id":"","url":"https://api.github.com/users/matthewrpacker","html_url":"https://github.com/matthewrpacker","followers_url":"https://api.github.com/users/matthewrpacker/followers","following_url":"https://api.github.com/users/matthewrpacker/following{/other_user}","gists_url":"https://api.github.com/users/matthewrpacker/gists{/gist_id}","starred_url":"https://api.github.com/users/matthewrpacker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/matthewrpacker/subscriptions","organizations_url":"https://api.github.com/users/matthewrpacker/orgs","repos_url":"https://api.github.com/users/matthewrpacker/repos","events_url":"https://api.github.com/users/matthewrpacker/events{/privacy}","received_events_url":"https://api.github.com/users/matthewrpacker/received_events","type":"User","site_admin":false,"name":"Matt
        Packer","company":null,"blog":null,"location":"Denver, CO","email":null,"hireable":null,"bio":"Enrolled
        at Turing School of Software & Design","public_repos":25,"public_gists":3,"followers":2,"following":0,"created_at":"2015-10-01T19:42:46Z","updated_at":"2016-09-01T02:45:57Z"}'
  recorded_at: Thu, 01 Sep 2016 17:24:39 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/users/matthewrpacker/starred?client_id=1e79ffc2e28f00d7e34a&client_secret=a9f6ad64adb7aa24363ab9f1d885ecc2afcb150e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4879'
      X-Ratelimit-Reset:
      - '1472752408'
      Etag:
      - W/"6dae4f130be7bf742fe78558475fedab"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"id":50126577,"name":"portfolios","full_name":"matthewrpacker/portfolios","owner":{"login":"matthewrpacker","id":14930925,"avatar_url":"https://avatars.githubusercontent.com/u/14930925?v=3","gravatar_id":"","url":"https://api.github.com/users/matthewrpacker","html_url":"https://github.com/matthewrpacker","followers_url":"https://api.github.com/users/matthewrpacker/followers","following_url":"https://api.github.com/users/matthewrpacker/following{/other_user}","gists_url":"https://api.github.com/users/matthewrpacker/gists{/gist_id}","starred_url":"https://api.github.com/users/matthewrpacker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/matthewrpacker/subscriptions","organizations_url":"https://api.github.com/users/matthewrpacker/orgs","repos_url":"https://api.github.com/users/matthewrpacker/repos","events_url":"https://api.github.com/users/matthewrpacker/events{/privacy}","received_events_url":"https://api.github.com/users/matthewrpacker/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/matthewrpacker/portfolios","description":"Turing
        School promotion portfolios","fork":true,"url":"https://api.github.com/repos/matthewrpacker/portfolios","forks_url":"https://api.github.com/repos/matthewrpacker/portfolios/forks","keys_url":"https://api.github.com/repos/matthewrpacker/portfolios/keys{/key_id}","collaborators_url":"https://api.github.com/repos/matthewrpacker/portfolios/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/matthewrpacker/portfolios/teams","hooks_url":"https://api.github.com/repos/matthewrpacker/portfolios/hooks","issue_events_url":"https://api.github.com/repos/matthewrpacker/portfolios/issues/events{/number}","events_url":"https://api.github.com/repos/matthewrpacker/portfolios/events","assignees_url":"https://api.github.com/repos/matthewrpacker/portfolios/assignees{/user}","branches_url":"https://api.github.com/repos/matthewrpacker/portfolios/branches{/branch}","tags_url":"https://api.github.com/repos/matthewrpacker/portfolios/tags","blobs_url":"https://api.github.com/repos/matthewrpacker/portfolios/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/matthewrpacker/portfolios/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/matthewrpacker/portfolios/git/refs{/sha}","trees_url":"https://api.github.com/repos/matthewrpacker/portfolios/git/trees{/sha}","statuses_url":"https://api.github.com/repos/matthewrpacker/portfolios/statuses/{sha}","languages_url":"https://api.github.com/repos/matthewrpacker/portfolios/languages","stargazers_url":"https://api.github.com/repos/matthewrpacker/portfolios/stargazers","contributors_url":"https://api.github.com/repos/matthewrpacker/portfolios/contributors","subscribers_url":"https://api.github.com/repos/matthewrpacker/portfolios/subscribers","subscription_url":"https://api.github.com/repos/matthewrpacker/portfolios/subscription","commits_url":"https://api.github.com/repos/matthewrpacker/portfolios/commits{/sha}","git_commits_url":"https://api.github.com/repos/matthewrpacker/portfolios/git/commits{/sha}","comments_url":"https://api.github.com/repos/matthewrpacker/portfolios/comments{/number}","issue_comment_url":"https://api.github.com/repos/matthewrpacker/portfolios/issues/comments{/number}","contents_url":"https://api.github.com/repos/matthewrpacker/portfolios/contents/{+path}","compare_url":"https://api.github.com/repos/matthewrpacker/portfolios/compare/{base}...{head}","merges_url":"https://api.github.com/repos/matthewrpacker/portfolios/merges","archive_url":"https://api.github.com/repos/matthewrpacker/portfolios/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/matthewrpacker/portfolios/downloads","issues_url":"https://api.github.com/repos/matthewrpacker/portfolios/issues{/number}","pulls_url":"https://api.github.com/repos/matthewrpacker/portfolios/pulls{/number}","milestones_url":"https://api.github.com/repos/matthewrpacker/portfolios/milestones{/number}","notifications_url":"https://api.github.com/repos/matthewrpacker/portfolios/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/matthewrpacker/portfolios/labels{/name}","releases_url":"https://api.github.com/repos/matthewrpacker/portfolios/releases{/id}","deployments_url":"https://api.github.com/repos/matthewrpacker/portfolios/deployments","created_at":"2016-01-21T18:07:19Z","updated_at":"2016-08-31T21:27:55Z","pushed_at":"2016-08-04T20:25:17Z","git_url":"git://github.com/matthewrpacker/portfolios.git","ssh_url":"git@github.com:matthewrpacker/portfolios.git","clone_url":"https://github.com/matthewrpacker/portfolios.git","svn_url":"https://github.com/matthewrpacker/portfolios","homepage":"","size":1801,"stargazers_count":1,"watchers_count":1,"language":"HTML","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master"},{"id":50460132,"name":"ruby-submissions","full_name":"matthewrpacker/ruby-submissions","owner":{"login":"matthewrpacker","id":14930925,"avatar_url":"https://avatars.githubusercontent.com/u/14930925?v=3","gravatar_id":"","url":"https://api.github.com/users/matthewrpacker","html_url":"https://github.com/matthewrpacker","followers_url":"https://api.github.com/users/matthewrpacker/followers","following_url":"https://api.github.com/users/matthewrpacker/following{/other_user}","gists_url":"h[...]
[...]
- request:
    method: get
    uri: https://api.github.com/users/matthewrpacker/repos?client_id=1e79ffc2e28f00d7e34a&client_secret=a9f6ad64adb7aa24363ab9f1d885ecc2afcb150e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4877'
      X-Ratelimit-R[...]
[...]
