---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/matthewrpacker?client_id=1e79ffc2e28f00d7e34a&client_secret=a9f6ad64adb7aa24363ab9f1d885ecc2afcb150e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4969'
      X-Ratelimit-Reset:
      - '1472679870'
      Etag:
      - W/"44b941082bb0ffeeeb0598a4f76332f8"
      Last-Modified:
      - Tue, 30 Aug 2016 13:53:35 GMT
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"login":"matthewrpacker","id":14930925,"avatar_url":"https://avatars.githubusercontent.com/u/14930925?v=3","gravatar_id":"","url":"https://api.github.com/users/matthewrpacker","html_url":"https://github.com/matthewrpacker","followers_url":"https://api.github.com/users/matthewrpacker/followers","following_url":"https://api.github.com/users/matthewrpacker/following{/other_user}","gists_url":"https://api.github.com/users/matthewrpacker/gists{/gist_id}","starred_url":"https://api.github.com/users/matthewrpacker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/matthewrpacker/subscriptions","organizations_url":"https://api.github.com/users/matthewrpacker/orgs","repos_url":"https://api.github.com/users/matthewrpacker/repos","events_url":"https://api.github.com/users/matthewrpacker/events{/privacy}","received_events_url":"https://api.github.com/users/matthewrpacker/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":null,"location":null,"email":null,"hireable":null,"bio":null,"public_repos":25,"public_gists":3,"followers":2,"following":0,"created_at":"2015-10-01T19:42:46Z","updated_at":"2016-08-30T13:53:35Z"}'
  recorded_at: Wed, 31 Aug 2016 21:20:45 GMT
[...]
